

/*Estilo do produto listado na HOME*/

.produto{
    box-shadow: 0;
    padding: 0;
    transition: box-shadow 0.3s ease-in-out;
}

.produto:hover{
    z-index: 1000;
    box-shadow: 0 0 20px grey;
}

.produto-body{
    
    padding: 0.5rem
}

.produto-img{
    max-height: 350px;
    
}
.produto-nome{
    margin-bottom: 7px;
}
.produto-nome > span{
    font-weight: bold;
}
.produto-preco-promo{
    /*display: flex; 
    justify-content: flex-end;*/
    text-decoration:line-through;
    color: red;
    opacity: 0.8;
    margin: 5px;
    
}
.box-produto-preco{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.produto-preco{
    font-weight: 500;
    font-size: 16pt;
    color: blue;
}

.btn-comprar{
    width: 100%;
    margin: 0;
}



/*ESTILO PARA PAGINA PRODUTO*/
#imgproduto1{
    width: 100%;
    height: auto;
    max-height: 500px;
}

#produto-nome{
    font-weight: 500;
    font-size: 36px;
    margin-bottom: .5rem;
}

#produto-descricao{
    color: #51545f;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1rem;
}

#produto-marca, #produto-quantidade, #produto-validade{
    color: #51545f;
    font-size: 12px;
    text-align: center;
}

#produto-preco-original{
    color: #b9b4c7;
    text-decoration: line-through;
    font-weight: 500;
    font-size: 14px;
    margin-top:10px;
}

#produto-preco{
    font-size: 24px;
    color: blue;
    font-weight: 500;
}



.padding5{
    padding: 10px;
    font-size: 16pt;
}